.footer {
  background-color: #A473E8;
  padding: 42px 0 50px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  margin: 17px 0 20px;
}

.footer__political-link {
  margin-right: 20px;
}

.footer__political-link, .footer__agreement-link {
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  border-bottom: 1px solid #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__political-link:hover, .footer__agreement-link:hover {
  color: #65DFEA;
  border-bottom: 1px solid #65DFEA;
  text-shadow: 0px 0px 10px #65DFEA;
}

.footer__payment-text {
  margin-bottom: 8px;
}

.footer__payment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
