.reviews {
  padding-top: 89px;
  padding-bottom: 118px;
}

.reviews__title {
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 50px;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__row + form {
  margin-top: 50px;
}

.reviews__subtitle {
  margin-right: 37px;
  font-weight: 500;
  font-size: 20px;
}

.reviews__btn-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 50px;
  padding: 11px 38px;
  border: 4px solid #FFFFFF;
  border-radius: 4px;
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
  background: transparent;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.reviews__btn-auth:hover {
  border: 4px solid #d6d6d6;
  border-radius: 6px;
}

.reviews__btn-auth:active {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.reviews__input {
  max-width: 1517px;
  width: 100%;
  height: 84px;
  margin-right: 23px;
  padding: 28px 39px;
  background: #7052AD;
  border: 6px solid #A473E8;
  font-weight: 400;
  font-size: 24px;
  color: #C0C0C0;
  -webkit-transition: all .3 ease-out;
  transition: all .3 ease-out;
}

.reviews__input:hover {
  border-radius: 5px;
}

.reviews__input:focus {
  border-width: 8px;
  background-color: #62459c;
}

.reviews__btn-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 127px;
  width: 100%;
  height: 84px;
  padding: 15px 35px;
  background: #7052AD;
  border: 6px solid #A473E8;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.reviews__btn-send img {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.reviews__btn-send:hover img {
  -webkit-transform: translate(3px, 0px);
          transform: translate(3px, 0px);
}

.reviews__btn-send:active {
  border-radius: 3px;
}

.reviews__btn-send:active img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.reviews__comment-value {
  margin: 28px 0;
  width: 320px;
  height: 50px;
  padding: 12px 30px;
  border: 4px solid #FFFFFF;
  border-radius: 4px;
  background: transparent;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.reviews-comment {
  padding: 22px 39px;
  background: #7052AD;
  margin-bottom: 50px;
}

.reviews-comment__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}

.reviews-comment__text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.reviews-comment__btn-reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 179px;
  height: 43px;
  margin-right: 11px;
  padding: 10px 29px 12px 13px;
  background: #A473E8;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.reviews-comment__btn-reply img {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  margin-right: 10px;
}

.reviews-comment__btn-reply:hover {
  border-radius: 4px;
  background-color: #8d60cc;
}

.reviews-comment__btn-reply:hover img {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.reviews-comment__btn-reply:active {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.reviews-comment__btn-like, .reviews-comment__btn-dislike {
  background-color: transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.reviews-comment__btn-like:hover, .reviews-comment__btn-dislike:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.reviews-comment__btn-like {
  margin-right: 6px;
}

.reviews-comment__btn-dislike {
  margin-left: 14px;
}

.reviews-comment__btn-dislike img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
