@media (max-width:768px) {
	.reviews {
			padding-top: 30px;
			padding-bottom: 30px;
	}
	
	.reviews__title {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.reviews__subtitle {
		font-size: 16px;
	}

	.reviews__btn-auth {
		display: none;
	}

	.reviews__input {
		height: 60px;
		padding: 15px 12px;
	}

	.reviews__btn-send {
		height: 60px;

		img {
			width: 40px;
			height: 40px;
		}
	}

	.reviews__comment-value {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		width: 240px;
		padding: 5px 24px;
	}

}

@media (max-width:500px) {
	.reviews {
		padding-top: 30px;
		padding-bottom: 15px;

		&__row+form {
			margin-top: 23px;
		}

		&__comment-value {
			width: 160px;
			font-size: 10px;
			margin: 10px 0 23px;
		}

		&__input {
			margin-right: 4px;
		}

		&__input,
		&__btn-send {
			height: 50px;

			img {
				width: 30px;
				height: 30px;
			}
		}

		&__btn-send {
			width: 120px;
			padding: 5px 12px;
		}
	}

	.reviews__input {
		height: 40px;
		border: 2px solid #A473E8;
		font-size: 12px;

		&:focus {
			border-width: 3px;
		}
	}

	.reviews__btn-send {
		width: 58px;
		height: 40px;
		border: 2px solid #A473E8;
	}

	.reviews-comment {
		margin-bottom: 15px;
		padding: 7px 10px 10px 8px;

		&__heading {
			font-size: 16px;
		}

		&__text {
			font-size: 12px;
		}

		&__btn-reply {
			width: 80px;
			height: 30px;
			padding: 5px 3px;
			font-size: 8px;

			img {
				margin-right: 3px;
				height: 14px;
				width: 14px;
			}
		}

		&__btn-like,
		&__btn-dislike {
			img {
				width: 20px;
				height: 20px;
			}
		}

		&__btn-like {
			margin-right: 3px;
		}

		&__btn-dislike {
			margin-left: 6px;
		}

		&__counter {
			font-size: 8px;
		}

	}

	.reviews__comment-value {
		width: 140px;
		height: 40px;
		font-size: 10px;
		margin-bottom: 20px;
		border: 2px solid #FFFFFF;
	}

}

@media (max-width:340px) {
	.reviews__title {
		font-size: 24px;
		margin-bottom: 9px;
	}

	.reviews__subtitle {
		font-size: 10px;
	}

	.reviews__input {
		height: 40px;
		border: 2px solid #A473E8;
		font-size: 12px;

		&:focus {
			border-width: 3px;
		}
	}

	.reviews__btn-send {
		width: 58px;
		height: 40px;
		border: 2px solid #A473E8;
	}

	.reviews__comment-value {
		width: 140px;
		height: 20px;
		font-size: 8px;
		margin-bottom: 20px;
		border: 2px solid #FFFFFF;
	}

	.reviews-comment {
		&__heading {
			font-size: 10px;
			margin-bottom: 6px;
		}

		&__text {
			font-size: 8px;
			line-height: 1.2;
			margin-bottom: 6px;
		}

		&__btn-reply {
			width: 70px;
			height: 20px;
			margin-right: 9px;
			padding: 5px 3px;
			font-size: 8px;

		}

		&__btn-like,
		&__btn-dislike {
			img {
				width: 15px;
				height: 15px;
			}
		}
	}
}